<div class="bg-primary p-4 " style="height: 100%;" >
    <h1>Contenido</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam saepe velit corrupti quibusdam, eveniet nemo, quasi mollitia doloribus modi exercitationem libero voluptate doloremque illo quos, consequuntur tempore quo fugit. Nihil!
        Totam fugiat cum vero dolores facilis nostrum, veniam doloribus eligendi quas. Similique reiciendis corrupti perferendis, quo optio explicabo aliquam voluptatibus temporibus dicta? Nulla architecto odio voluptatem tempora beatae in molestias.
        Iure porro minima eveniet repellendus excepturi doloribus, nulla aperiam officia eius provident fugiat vero ad pariatur asperiores hic cumque perferendis, qui molestias voluptates, voluptatem veritatis modi. Dolorum velit eveniet tempora.
        Cum ipsam suscipit dolorem, molestias vero, illum libero aliquid earum saepe, nihil debitis nam unde quod iusto itaque aliquam. Voluptatum officiis provident, libero saepe voluptate cumque corrupti exercitationem a ullam.
        Dolores aut, culpa rem nesciunt aperiam repellat dolorum voluptate similique ut ullam molestiae non doloribus corporis corrupti voluptatem? Iusto tempore hic eius laborum libero et eveniet inventore soluta, aliquid officia?</p>
        
</div>